data

# profiler files
*.out

# codecov coverage report
coverage.txt

# golang binary
gursShp2geoJson

# secrets
CREDENTIALS*

# external tool as 
GeoCoordinateConverter

# MacOS
.DS_Store

# IDE folders
.idea
.vscode

# generally ignored
*.tmp
*.bak
