data

# profiler files
*.out

# codecov coverage report
coverage.txt

# golang binaries
gursShp2geoJson
GursAddressesForOSM
GursAddressesForOSM.test

# secrets
CREDENTIALS*

# external tool as 
GeoCoordinateConverter

# MacOS
.DS_Store

# IDE folders
.idea
.vscode

# generally ignored
*.tmp
*.bak

#profiler files
*.prof
profile0*

# python virtual environment
venv
requirements.txt.out

#crontab logs
crontablog*.txt
